* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: rgb(255, 228, 152);
    padding: 10px 30px;
    text-align: center;
    color: white;
}

/* 메뉴  영역 */

nav {
    text-align: center;
}

nav a {
    color: #585757;
    text-decoration: none;
    display: inline-block;
    width: 10%;
    margin: 20px 0;
    font-weight: bold;
}

footer {
    color: white;
    background-color: #222;
    padding: 30px;
    text-align: center;
}